@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /* transition: 50ms; */
}

:root{
    --color1-background: #FFFEF0;
    --color2-linha-inputs: #DCDCE5;
    --color3-inputs: #fff;
    --color4-txt-sec: #A8A8B3;
    --color5-txt-: #737380;
    --color6-tit-sec: #021B2B;
    --color7-tit: #02031A;
    --color8-seja-heroi: #FF0841;

}

body{
    background-color: var(--color1-background);
}

.back-home .btn-back{
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 0px 5px 0px 15px;
    background-color: #fafafa;
    border: 1px solid var(--color2-linha-inputs);
    border-radius: 8px;
    text-decoration: none;
    color: var(--color4-tit-sec);
    margin: 15px 0px 0px 20px;
}

.back-home .btn-back:hover{
    background-color: #ececec;
}

.btn-back img{
    width: 20px;
}

.btn-back p{
    font-size: 0.9rem;
    margin-left: 10px;
}

/* Main */
.main{
    margin: auto;
    margin-top: 50px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    height: 85vh;
}

/* Alteração na cor localizada embaixo da primeira informação do texto */

.main .logo {
    width: 300px;
}

.main .logo img{
    width: 90%;
}

/* Left e Right */

.main .left{
    display: flex;
    width: 420px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
}

.main .right{
    display: flex;
    width: 420px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

/* Title */
.main .left .texts .title{
    color: var(--color6-tit-sec);
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 40px;
}

.main .left p{
    color: var(--color5-txt-);
    margin-top: 20px;
}

/* Cadastro.html - Cadastro das informações do usuário */

.right .formcadastro{
    width: 400px;
}

.right .formcadastro form{
    display: flex;
    flex-direction: column;
}

.right .formcadastro form label{
    margin-top: 14px;
    color: var(--color6-tit-sec);
    font-size: 0.9rem;
    padding-left: 3px;
    font-weight: 500;
}

.right .formcadastro form input{
    width: 350px;
    height: 50px;
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    color: #021b2b;
    border: 1px solid #dcdce5;
}

.right .formcadastro form input:focus{
    border: 1px solid #ff08429f;
    transition: 50ms;
}

/* Select */
.causa{
    margin-top:8px;
    width: 370px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #dcdce5;
    color: var(--color4-tit-sec);
    outline: none;
    border-radius: 4px;
}

/* Checkbox */
.checkbox{
    border: none;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.checkbox #termos{
    width: 20px;
    height: 20px;
}

.checkbox label{
    font-size: 0.9rem;
    margin-left: 10px;
    margin-top: 0 !important;
}

.checkbox label span{
    color: var(--color8-seja-heroi);
    font-weight: 600;
    cursor: pointer;
}

/* Button */
.right .formcadastro form .btn-enviar{
    cursor: pointer;
    background-color: #FF0841;
    color: #fff;
    width: 320px;
}

.right .formcadastro form .btn-enviar:hover{
    background-color: #d40938;
}

.right .formcadastro form .btn-cadastrar{
    cursor: pointer;
    background-color: #FF0841;
    font-size: 1rem;
    color: #fff;
    width: 370px;
    margin-top: 25px;
}

.right .formcadastro form .btn-cadastrar:hover{
    background-color: #d40938;
}



@media (max-width: 1099px) {
    .main {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin: 120px 0; 
    }



}