@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --color1-background: #FFFEF0;
    --color2-linha-inputs: #DCDCE5;
    --color3-inputs: #fff;
    --color4-txt-sec: #A8A8B3;
    --color5-txt: #5b5b66;
    --color6-tit-sec: #021B2B;
    --color7-tit: #02031A;
    --color8-seja-heroi: #FF0841;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color1-background);
}

header{
    width: 100%;
    background-color: #fafafa;
    box-shadow: 0rem 0.1rem 3rem 0.5rem #ff084217;
}

header .nav-header{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

header .nav-header .logo{
    width: 260px;
}

header .nav-header .logo img{
    width: 100%;
}

header .nav-header .buttons-container-nav{
    display: flex;
    align-items: center;
}

.buttons-container-nav .search-input{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    border: 1px solid var(--color2-linha-inputs);
}

.buttons-container-nav .search-input input{
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}

.buttons-container-nav .login-btn{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--color8-seja-heroi);
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
}

.buttons-container-nav .login-btn:hover{
    background-color: #b80831;
    transition: .3s;
}


.main-perfil {
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.main-perfil .section-perfil {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-perfil .left-imagens {
    width: 50%;
}

.section-perfil .right-dados{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.right-dados .categoria{
    display: flex;
    align-items: baseline;
    bottom: 0;
}

.right-dados .categoria img{
    width: 30px;
}

.right-dados .categoria p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color5-txt);
    margin-left: 5px;
}

.right-dados .nome-ong{
    color: var(--color6-tit-sec);
    font-size: 2.2rem;
    margin-bottom: 0;
    margin-top: 30px;
}

.right-dados .descricao{
    margin-top: 10px;
    font-size: 1rem;
    width: 90%;
    color: var(--color5-txt);
}

.right-dados a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--color8-seja-heroi);
    border-radius: 8px;
    height: 55px;
    text-decoration: none;
    margin-top: 40px;
    transition: .6s;
}

.right-dados a:hover{
    background-color: #b80831;
    transition: .6s;
}

/* Casos */
.section-casos{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
}

.section-casos .title{
    font-size: 1.5rem;
    font-weight: 500;
}

.section-casos .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards .card{
    width: 45%;
    background-color: var(--color3-inputs);
    margin-top: 50px;
    padding: 18px 20px 18px 20px;
    border-radius: 4px;
    box-shadow: 0rem 0rem 1rem 1px #ff084218;
}

.card .title-card h3{
    font-size: 1.3rem;
}

.card .title-card p{
    color: var(--color5-txt);
}

.card .desc-caso{
    color: var(--color5-txt);
    font-size: 1rem;
    margin-top: 30px;
}

.card .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.card .btn p{
    color: var(--color6-tit-sec);
    font-weight: 500;
    padding: 10px;
    background-color: var(--color1-background);
    border-radius: 4px;
    border: 1px solid var(--color2-linha-inputs);
    font-size: 15px;
}

.card .btn a{
    background-color: var(--color8-seja-heroi);
    color: var(--color3-inputs);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
}

.card .btn a:hover{
    background-color: #b80831;
    transition: .6s;
}

/* CSS - Slider */
[class^="number-slide"],
[class*=" number-slide"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 300px;
}

.number-slide1, .number-slide2, .number-slide3 {
    width: 100%;
    border-radius: 4px;
}

.number-slide1 img{
    width: 100%;
}

.number-slide2 img{
    width: 100%;
}

.number-slide3 img{
    width: 100%;
}

.thumbnail .keen-slider__slide {
    font-size: 30px;
    margin-top: 10px;
    height: 80px;
}

.thumbnail .keen-slider__slide {
    cursor: pointer;
}

.thumbnail .keen-slider__slide.active::after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100px;
    background-color: #021b2ba6;
}


/* Footer */

.footer{
    width: 100%;
    background-color: #fafafa;
    margin-top: 100px;
    padding: 30px 0px 30px 0px;
}

.footer .section-footer{
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section-footer .logo {
    width: 280px;
}

.section-footer .logo img{
    width: 100%;
}

.section-footer .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav .menu{
    list-style-type: none;
}

.nav .menu li{
    margin-top: 5px;
}

.nav .menu a{
    text-decoration: none;
    color: var(--color6-tit-sec);
    font-weight: 500;
    transition: .2s;
}

.nav .menu a:hover{
    font-weight: bold;
}


.nav .buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
}

.nav .buttons a{
    width: 200px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    border-radius: 4px;
    margin-top: 15px;
    background-color: var(--color8-seja-heroi);
}

.nav .buttons a:hover{
    background-color: #b80831;
    transition: .3s;
}

.section-footer .direitos{
    margin-top: 40px;
    border-top: 0.5px solid var(--color2-linha-inputs);
    width: 100%;
}

.section-footer .direitos p{
    margin-top: 20px;
    color: var(--color5-txt);
}


.acessibilidade {
    display: flex;
    background-color: #fafafa;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    height: 30px;
    align-items: center;
}

.acessibilidade .links_access, .acessibilidade .atalhos {
    list-style: none;
}

.links_access, .atalhos{
    display: flex; 
}

.links_access li{
    margin-left: 20px;
}

.links_access li a{
    text-decoration: none;
    color: var(--color5-txt);
    font-size: 0.9rem;
}

.links_access li a:hover{
    color: #141414;
    transition: .3s;
}