@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /* transition: 50ms; */
    box-sizing: border-box;
}

:root{
    --color1-background: #FFFEF0;
    --color2-linha-inputs: #DCDCE5;
    --color3-inputs: #fff;
    --color4-txt-sec: #A8A8B3;
    --color5-txt: #737380;
    --color6-tit-sec: #021B2B;
    --color7-tit: #02031A;
    --color8-seja-heroi: #FF0841;

}

body{
    background-color: var(--color1-background);
}

/* h1,h2,h3,h4{
    font-family: 'Poppins';
}
p{
    font-family: 'Roboto', 'Arial';
} */

.back-home .btn-back{
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 0px 5px 0px 15px;
    background-color: #fafafa;
    border: 1px solid var(--color2-linha-inputs);
    border-radius: 8px;
    text-decoration: none;
    color: var(--color4-tit-sec);
    margin: 15px 0px 0px 20px;
}

.back-home .btn-back:hover{
    background-color: #ececec;
}

.btn-back img{
    width: 20px;
}

.btn-back p{
    font-size: 0.9rem;
    margin-left: 10px;
}

/* Main */
.main{
    margin: auto;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

/* Alteração na cor localizada embaixo da primeira informação do texto */
.cadastroesquerdo{
    color: #737380;
}

.main .logo {
    width: 370px;
}

.main .logo img{
    width: 90%;
}

/* Left e Right */
.main .left, .main .right{
    display: flex;
    width: 420px;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 450px;
}

.main .right .img{
    display: flex;
    width: 500px;
    margin-top: 40px;
    margin-right: 50px;
}

.main .right .img img{
    width: 100%;
}

/* Title */
.main .left h3{
    color: #021b2b;
    font-size: 1.5rem;
    margin-top: 14px;
    margin-bottom: 14px;
    font-weight: 600;
}

/* Form */

.left .form{
    width: 380px;
    margin-top: 20px;
}

.left .form form{
    display: flex;
    flex-direction: column;
}

.left .form form label{
    margin-top: 14px;
    color: var(--color6-tit-sec);
    font-size: 0.9rem;
    padding-left: 3px;
    font-weight: 500;
}


.left .form form input{
    width: 280px;
    height: 50px;
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    color: #021b2b;
    border: 1px solid #dcdce5;
    margin-bottom: 5px;
}

.left .form form input:focus{
    border: 1px solid #ff08429f;
    transition: .5s;
}

/* Button */
.left .form form .btn-enviar{
    cursor: pointer;
    background-color: #FF0841;
    color: #fff;
    width: 300px;
}

.left .form form .btn-enviar:hover{
    background-color: #d40938;
}

.left .form form .btn-cadastrar{
    cursor: pointer;
    background-color: #FF0841;
    color: #fff;
    width: 320px;
}

.left .form form .btn-cadastrar:hover{
    background-color: #d40938;
}

.left .form form .link-senha{
    margin-top: 10px;
    text-decoration: none;
    color: #141414;
    font-size: 0.8rem;
    font-weight: 400;
}

/* Cadastro.html - Cadastro das informações do usuário */

.cadastro-left{
    display: flex;
    width: 420px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
}

.right .formcadastro{
    width: 400px;
}

.right .formcadastro form{
    display: flex;
    flex-direction: column;
}

.right .formcadastro form input{
    width: 300px;
    height: 55px;
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #021b2b;
    border: 1px solid #dcdce5;
    margin-top: 8px;
}

.right .formcadastro form input:focus{
    border: 1px solid #ff08429f;
    transition: .5s;
}

/* Button */
.right .formcadastro form .btn-enviar{
    cursor: pointer;
    background-color: #FF0841;
    color: #fff;
    width: 320px;
}

.right .formcadastro form .btn-enviar:hover{
    background-color: #d40938;
}

.right .formcadastro form .btn-cadastrar{
    cursor: pointer;
    background-color: #FF0841;
    color: #fff;
    width: 320px;
}

.right .formcadastro form .btn-cadastrar:hover{
    background-color: #d40938;
}

/* cadastronovocaso.html - Cadastro das informações do caso especificado pela ONG */

.right .novocaso{
    width: 400px;
}

.right .novocaso form{
    display: flex;
    flex-direction: column;
}

.right .novocaso form input{
    width: 300px;
    height: 55px;
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #021b2b;
    border: 1px solid #dcdce5;
    margin-top: 8px;
}

.right .novocaso form input:focus{
    border: 1px solid #ff08429f;
    transition: .5s;
}

/* Mudança no botão de cadastrar novo caso */

.right .novocaso form .btn-cadastrarnovo{
    cursor: pointer;
    background-color: #FF0841;
    color: #fff;
    width: 220px;
}

.btn-cadastrarnovo{
    display: inline-block;
}

.right .novocaso form .btn-cadastrar:hover{
    background-color: #d40938;
}

.btn-cancelarnovo{
    display: inline-block;
}

.right .novocaso form .btn-cancelarnovo {
    width: 100px;
}

/* Link */

.link{
    display: flex;
    margin-top: 3rem;
}

.link a{
    text-decoration: none;
}

.link p{
    margin-left: 10px;
    color: #021b2b;
    font-weight: 450;
    font-size: 0.9rem;
}

.link p:hover{
    font-weight: bold;
    transition: .2s;
}

/* Lista Casos */

/* Main */
.container-main{
    margin: auto;
    width: 1100px;
    justify-content: space-around;
    height: 100vh;
}

.header{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;

}

.header .right-header{
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

.header .right-header .button-cadastro{
    height: 50px;
    padding: 0 2rem;
    background-color: #FF0841;
    border-radius: 8px;
    border: 0;
    color: white;
}

.header .right-header .button-logout{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    border-color: #bababa;
    border-inline-color: #bababa;
}

/* Título */

.titulo{
    display: flex;
    justify-content: center;
}

.titulo span{
    font-size: 1.3rem;
}

/* Cards */

.container-main .cards h1{
    font-weight: 600;
    font-size: 2rem;
    padding: 2rem 0;
}

.container-main .cards .cards-container{
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: 2rem;
    padding-bottom: 3rem;
}

.container-main .cards .cards-container .card{
    position: relative;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.cards-container .card .lixeira{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
}

.cards-container .card .topico-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cards-container .card .topico-card span{
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: capitalize;
}

.cards-container .card .topico-card p{
    font-size: 1rem;
    color:var(--color5-txt);
}
